## 1 - Importar Pandas

In [7]:
import pandas as pd

## 2 - Cargar datos

In [31]:
df1 = pd.read_csv("Datos_Ventas_Tienda.csv")

In [33]:
df1.head(10)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200
5  3/11/2023        Ropa         9               50          450
6  11/3/2023    Juguetes         4               30          120
7  11/8/2023        Ropa         9               50          450
8  3/22/2023        Ropa        10               50          500
9  9/29/2023        Ropa         1               50           50

In [35]:
df2 = pd.read_csv("Datos_Ventas_Tienda2.csv")

In [37]:
df2.head(10)

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   8/25/2023  Electrónic         5              200         1000
1   8/14/2023   Alimentos         9               10           90
2   8/30/2023        Ropa         6               50          300
3   11/9/2023   Alimentos         2               10           20
4  10/26/2023        Ropa         8               50          400
5   12/1/2023    Juguetes         2               30           60
6   5/16/2023  Electrónic         4              200          800
7    2/9/2023      Libros         1               20           20
8    1/9/2023  Electrónic         2              200          400
9    5/3/2023  Electrónic         6              200         1200

In [ ]:
# Fusion de datos

In [96]:
df_combinado = pd.concat([df1, df2], ignore_index = True)

In [98]:
df_combinado

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0     1/17/2023  Electrónic         7              200         1400
1      9/1/2023  Electrónic         8              200         1600
2     7/29/2023    Juguetes         3               30           90
3     10/4/2023   Alimentos         4               10           40
4     2/28/2023  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045  9/11/2023    Juguetes        10               30          300
1046   1/3/2023    Juguetes        10               30          300
1047  11/7/2023   Alimentos         3               10           30
1048  8/20/2023  Electrónic         6              200         1200
1049  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

## 3 - Exploración Inicial

In [43]:
df_combinado.head()

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

In [45]:
df_combinado.shape

(1050, 5)

In [47]:
df_combinado.columns

Index(['Fecha', 'Producto', 'Cantidad', 'Precio Unitario', 'Total Venta'], dtype='object')

In [ ]:
# Cambiar tipo de datos en Fecha to_datatime(df_combinado["Fecha"])

In [104]:
df_combinado["Fecha"] = pd.to_datetime(df_combinado["Fecha"])

In [106]:
df_combinado

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    2023-01-17  Electrónic         7              200         1400
1    2023-09-01  Electrónic         8              200         1600
2    2023-07-29    Juguetes         3               30           90
3    2023-10-04   Alimentos         4               10           40
4    2023-02-28  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045 2023-09-11    Juguetes        10               30          300
1046 2023-01-03    Juguetes        10               30          300
1047 2023-11-07   Alimentos         3               10           30
1048 2023-08-20  Electrónic         6              200         1200
1049 2023-07-21    Juguetes         3               30           90

[1050 rows x 5 columns]

In [108]:
df_combinado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   datetime64[ns]
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 41.1+ KB

## 4 - Limpieza de Datos

In [63]:
df_combinado.isnull().sum()

Fecha              0
Producto           0
Cantidad           0
Precio Unitario    0
Total Venta        0
dtype: int64

In [ ]:
# Cual es el producto mas vendido

In [114]:
productos_mas_vendido = df_combinado.groupby('Producto')['Cantidad'].sum()

In [116]:
productos_mas_vendido.sort_values(ascending = False)

Producto
Alimentos     1262
Electrónic    1220
Ropa          1128
Juguetes      1113
Libros        1042
Name: Cantidad, dtype: int64

In [ ]:
# Cual es el mes con mas ventas

In [120]:
meses = []
for f in df_combinado['Fecha']:
    meses.append(f.month)
df_combinado['Meses'] = meses
df_combinado

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta  Meses
0    2023-01-17  Electrónic         7              200         1400      1
1    2023-09-01  Electrónic         8              200         1600      9
2    2023-07-29    Juguetes         3               30           90      7
3    2023-10-04   Alimentos         4               10           40     10
4    2023-02-28  Electrónic         6              200         1200      2
...         ...         ...       ...              ...          ...    ...
1045 2023-09-11    Juguetes        10               30          300      9
1046 2023-01-03    Juguetes        10               30          300      1
1047 2023-11-07   Alimentos         3               10           30     11
1048 2023-08-20  Electrónic         6              200         1200      8
1049 2023-07-21    Juguetes         3               30           90      7

[1050 rows x 6 columns]

In [128]:
ventas_por_mes = df_combinado.groupby('Meses')['Total Venta'].sum().sort_values(ascending = False)
ventas_por_mes.head(1)

Meses
8    45090
Name: Total Venta, dtype: int64

In [ ]:
# Ventas por categoria

In [134]:
ventas_por_categoria = df_combinado.groupby('Producto')['Total Venta'].sum().sort_values(ascending = False)
ventas_por_categoria

Producto
Electrónic    244000
Ropa           56400
Juguetes       33390
Libros         20840
Alimentos      12620
Name: Total Venta, dtype: int64

In [ ]:
# Guardar el archivo como CSV df_combinado.to_csv()